<!DOCTYPE html>
<html>
<head>
    <title>Simple Form</title>
</head>
<body style="background-color: lightslategrey">
    <form action="/" method="post">
        <label for="email_from">FROM____:</label>
        <input type="text" id="email_from" name="field1"><br><br>

        <label for="email_to">TO_______:</label>
        <input type="text" id="email_to" name="field2"><br><br>

        <label for="message">MESSAGE:</label>
        <input type="text" id="message" name="field3"><br><br>

        <label for="file_path">FILE_PATH:</label>
        <input type="text" id="file_path" name="field3"><br><br>


        <input type="submit" value="Submit">
    </form>
</body>
</html>
